
h3 a {
    color: white;
    font-family: 'Arial Black', serif;
}

body{
    align-content: center;
    background-image: url('../images/img.png');
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial;
    font-size: medium;
}

